$lightColor : #f7f7ff;
$primaryColor : #143d52;
$secondaryColor : #ffffff;
$accentColor : #edf3f3;
$emphasisColor : #75e900;
$emphasisDarkerColor : #61d800;

* {
	margin: 0;
	padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color : $primaryColor;
    background-color: $secondaryColor;
    width: 90vw;
	margin: 0px auto;
}

.form__info {
    padding: 38px 3vw;
    
    h1 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
}

.stepper__form {
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 10px;
    padding: 3vw;

    .stepper__section {
        display: grid;

        .stepper__header {
            display: grid;
            grid-template-columns: 40px auto;
            height: 100px;
            margin: 15px;
            margin-bottom: 0;
            padding: 25px 15px;
            padding-bottom: 0;
            border-radius: 20px;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 1;
                background-color: $accentColor;
                transition: opacity .25s ease-in-out;
                transition: background-color .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;   
            }

            .stepper__number {
                display: grid;
                grid-template-rows: 30% 70%;
                
                .shape__circle {
                    display: grid;
                    height: 40px;
                    width: 40px;
                }

                .shape__line {
                    border-left: 1px solid $primaryColor;
                    margin-top: 15%;
                    margin-left: 50%;
                    height: 80px;
                    z-index: 999;
                }
            }

            .stepper__title {
                display: grid;
                grid-template-rows: 30% 70%;
                padding-left: 20px;
            }
    
            button {
                font-size: .75rem;
                border-radius: 50%;
                color: $primaryColor;
                background: $lightColor;
    
                &:hover {
                    background: $primaryColor;
                    color: $lightColor;
                    cursor: pointer;
                }
            }
        }
    }

    .stepper__content {
        .tabcontent {
            display: grid;
        }
        .nav__buttons {
            justify-self: end;
        }
        button {
            padding: 10px 20px;
            font-size: .75rem;
            border-radius: 5px;
            cursor: pointer;
        }

        .previous__button {
            color: $primaryColor;
            background: $lightColor;
            border: 1px solid $lightColor;

            &:hover {
                border: 1px solid $primaryColor;
            }
        }

        .next__button {    
            color: $lightColor;
            background: $primaryColor;
            border: 1px solid $primaryColor;

            &:hover {
                background: $accentColor;
                color: $primaryColor;
            }
        }

        .submit__button {    
            color: $lightColor;
            background: $emphasisColor;
            border: 1px solid $emphasisColor;

            &:hover {
                color: $lightColor;
                background: $emphasisDarkerColor;
                border: 1px solid $emphasisDarkerColor;
            }
        }
    }

    .fadeBlock {
        animation: 1s linear fade;
    }
}

@keyframes fade {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

.focus {
    opacity: 1 !important;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    background-color: $accentColor;
    
    button {
        background: $primaryColor !important;
        color: $lightColor !important;
    }
} 

// ============================================== //
// ============ MOBILE & TABLET view ============ //
// ============================================== //

@media screen and (max-width: 768px){
    .stepper__form {
        grid-template-columns: 1fr;
        row-gap: 20px;
        
        .stepper__section {
            grid-template-columns: repeat(7, calc(50% - 20px * 2));
            grid-template-rows: minmax(150px, 1fr);
            overflow-x: scroll;
            scroll-snap-type: x proximity;
        // grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            
            .stepper__header {
                grid-template-columns: 1fr;
                grid-template-rows: 40px auto;
                margin: 0 10px;
                padding: 10px;

                .stepper__number {
                    grid-template-rows: 50% 50%;
                    justify-items: center;

                    .shape__line {
                        margin: 0;
                        margin-left: 130%;
                        height: 40px;
                        width: 80%;
                        border: none;
                        border-top: 1px solid $primaryColor;
                    }
                    
                }

                .stepper__title {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    padding: 0;
                    
                    p {
                        text-align: center;
                    }
                    
                    small {
                        text-align: center;
                    }
                }
            }
        }
    }
}