* {
	margin: 0;
	padding: 0;
    border: 0;
}

.container {
    margin: 24px auto;
    width: 90vw;
    box-sizing:border-box;
}

nav {
    background: blue;
    height: 200px;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 3vw 0;
    height: 1000px;
}
  
section {
    background: grey;
    padding: 2vw;
}
  
section div {
    position: sticky;
    top: 0;
}
  
article {
    background: yellow;
    padding: 2vw;
}

article p {
    padding-bottom: 1500px;
}