/* ---------- */
/*    FONTS   */
/* ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* ---------- */
/*   COLORS   */
/* ---------- */
:root {
    --grey: #383838;
    --white: #FFFFFF;
    --gold: #DCCAA9;
    --yellow: #FFD074;
    --pink: #F6D2DE;
    --red: #B05C52;
    --green: #7CAD7C;
}

/* reset format on all elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ---------- */
/*    MAIN    */
/* ---------- */
body {
    background: var(--white);
    color: var(--grey);
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

ul {
    list-style: none;
}

/* ------------------ */
/*      NAVIGATION    */
/* ------------------ */



/* ------------------ */
/* NAVIGATION OVERLAY */
/* ------------------ */
.nav-overlay {
    background: var(--grey);
    color: var(--gold);
    height: 100vh;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 15% auto 15%;
    grid-template-areas: 
    "close links links"
    "name links links"
    "logo socials socials";
    justify-items: center;
    align-items: center;
}

.nav-close {
    grid-area: close;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: var(--gold);
    margin: 6px 0;
}

.nav-name {
    grid-area: name;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-align: center;
}

.nav-name a{
    color: var(--red);
}

.nav-logo {
    grid-area: logo;
    max-width: 60%;
    height: auto;
}

.nav-links {
    grid-area: links;
    justify-self: start;
    padding-left: 30px;
}

.nav-links li a {
    color: var(--pink);
    font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 7vw;
    text-transform: uppercase;
}

.nav-links li a:hover {
    text-decoration: underline var(--green);
}

.nav-socials {
    grid-area: socials;
    display: flex;
    justify-self: flex-end;
    padding-right: 30px;
}

.nav-socials li a {
    color: var(--green);
    font-size: 2vw;
    text-transform: uppercase;
    margin-right: 30px;
}


/* ---------- */
/*   BANNER   */
/* ---------- */
#banner > h1{
    font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 100px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--pink);
}


/* ---------- */
/*   SECTION  */
/* ---------- */
article > h2 {
    font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight : 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

article > p {
    letter-spacing: 1px;
}