:root {
    --grey: #383838;
    --white: #F3F5F5;
    --gold: #DCCAA9;
    --yellow: #FFD074;
    --pink: #F6D2DE;
    --red: #B05C52;
    --green: #7CAD7C;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: var(--grey);
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: var(--grey);
}

ul {
    list-style: none;
}

img {
    border-radius:50%;
    height: 100px;
    width: 100px;
}

.main_grid {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 6vw;
    grid-template-areas: "main navigation" ;
}

.content {
    text-align: center;
    grid-area: main;
    margin-top: 24px;
    margin-bottom: 24px;
}

.vertical {
    grid-area: navigation;
    writing-mode: vertical-rl;
    
    background-color: var(--grey);
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    
    display:flex;
    align-items:center;

    .scroll  {
        li {
            display: inline-block;
            padding-bottom: 24px;
    
            &::before {
                display:inline-block;
                transform: rotate(90deg);
                content: "☺︎ ";
                font-size: 1.4rem;
            }

            &.active {
                color: var(--green);
                
                &::before {
                    color: var(--yellow);
                }

                a {
                    color: var(--green);
                }
            }
        }
    
        a {
            text-decoration: none;
            color: var(--white);
    
            &:hover {
                color: var(--green);
                text-decoration: underline;
            }
        }
    
        .text {
            animation: 9s infinite linear yscroll;
            display: inline-block;
        }
    }
}

@keyframes yscroll {
    from { transform: translateY(0%);}
    to { transform: translateY(-100%);}
}

.profile_header {
    margin-bottom: 24px;
}

.social__links {
    display: grid;
    row-gap: 16px;
    justify-items: center;

    a {
        display:inline-block;
        width:100%;
        height:100%;
        padding: 16px;
        border-radius: 8px;
    }

    li {
        border: 1px solid var(--grey);
        border-radius: 8px;
        width: 200px;
    
        &:hover {
            cursor: pointer;
            background-color: #3e3e3e;
    
            a {
                color: var(--white);
            }
        }
    }
}

footer {
    margin-top: 12px;
    font-size: .7rem;

    a {
        display: inline;
    }
}