/* ---------- */
/*    FONTS   */
/* ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* ---------- */
/*   COLORS   */
/* ---------- */
:root {
    --grey: #383838;
    --white: #FFFFFF;
    --gold: #DCCAA9;
    --yellow: #FFD074;
    --pink: #F6D2DE;
    --red: #B05C52;
    --green: #7CAD7C;
}


/* ---------- */
/*    MAIN    */
/* ---------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: var(--white);
    color: var(--grey);
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

ul {
    list-style: none;
}


/* ------------------ */
/* NAVIGATION OVERLAY */
/* ------------------ */
.nav-overlay {
    color: var(--gold);
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 50px auto 15%;
    grid-template-areas: 
    "burger links links"
    "name links links"
    "logo socials socials";
    justify-items: center;
    align-items: center;
    row-gap: 2px;
}

.nav-burger {
    grid-area: burger;
    cursor: pointer;
}

.bar1, .bar2 {
    width: 30px;
    height: 2px;
    background-color: var(--gold);
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
}

.nav-name {
    grid-area: name;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.nav-name a{
    color: var(--red);
}

.nav-logo {
    grid-area: logo;
    max-width: 60%;
    height: auto;
}

.nav-links {
    grid-area: links;
    justify-self: start;
    padding-left: 30px;
}

.nav-links li a {
    color: var(--pink);
    font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 7vw;
    text-transform: uppercase;
}

.nav-links li a:hover {
    text-decoration: underline var(--green);
}

.nav-socials {
    grid-area: socials;
    display: flex;
    justify-self: flex-end;
}

.nav-socials li a {
    color: var(--gold);
    font-size: 2vw;
    text-transform: uppercase;
    margin-right: 30px;
}

.nav-socials a:hover {
    color: var(--green);
}

/* INITIAL VIEW IS HIDDEN */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
.nav-links, .nav-socials {
    display: none;
}

/* NAVIGATION DESKTOP VIEW */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px){
    .nav-overlay {
        height: 100vh;
    }
}

/*  NAVIGATION MOBILE & TABLET VIEW  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 768px){
    .nav-overlay {
        grid-template-areas: 
            "logo name burger"
            "links links links"
            "socials socials socials";
    }

    .nav-name {
        writing-mode: horizontal-tb;
    }

    .nav-links, .nav-socials {
        justify-self: center;
    }
}

/* NAVIGATION TOGGLE ACTIVE */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-active {
    height: 100vh;
    background: linear-gradient(to right, var(--grey) 50%, var(--white) 50%);
    background-size: 200%;
    animation: navFade 2.5s cubic-bezier(0.3,0,0,1);
}

@keyframes navFade {
    from {
        background-position:100%;
        opacity: 0;
    }
    
    to {
        background-position:0%;
        opacity: 1;
    }
}

.nav-active .nav-name a {
    color: var(--green);
}

.nav-active .nav-links {
    display: block;
}

.nav-active .nav-socials {
    display: flex;
}

/* HAMBURGER TOGGLE ACTIVE  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-active .bar1 {
    transform: rotate(-20deg) translate(0px, 4px);
}

.nav-active .bar2 {
    transform: rotate(20deg) translate(0px, -4px);
}

/* ---------- */
/*   BANNER   */
/* ---------- */
#banner > h1{
    font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 100px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--pink);
}


/* ---------- */
/*   SECTION  */
/* ---------- */
article > h2 {
    font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight : 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

article > p {
    letter-spacing: 1px;
}