:root {
    --grey: #383838;
    --white: #F3F5F5;
    --gold: #DCCAA9;
    --yellow: #FFD074;
    --pink: #F6D2DE;
    --red: #B05C52;
    --green: #7CAD7C;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 80vw;
    margin: auto;
    text-align: center;
    color: var(--grey);
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    margin: 32px;
}

.profile_header {
    margin-bottom: 24px;
}

img {
    border-radius:50%;
    height: 100px;
    width: 100px;
}

ul {
    list-style: none;
}

.social__links {
    display: grid;
    row-gap: 16px;
    justify-items: center;
}

li {
    border: 1px solid var(--grey);
    border-radius: 8px;
    width: 200px;
}

a {
    display:inline-block;
    width:100%;
    height:100%;
    padding: 16px;
    border-radius: 8px;
    color: var(--grey);
}

li:hover, a:hover {
    cursor: pointer;
    background-color: #3e3e3e;
}

li:hover a {
    color: var(--white);
}