
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.horizontal{
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.hor1 {
    height: 4vw;
    color: #fffcf2;
    background-color: #252422;
}

.scroll1 .text {
    font-size: 1vw;
    animation: 5s infinite linear xscroll alternate-reverse;
    display: inline-block;
    padding-right: 5px;
    /* fallback for old browsers */
    background: #40E0D0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hor2 {
    height: 8vw;
    color: #ffee93;
    background-color: #79addc;
}

.scroll2 .text {
    font-size: 2vw;
    animation: 10s infinite linear xscroll-pull;
    display: inline-block;
    padding-right: 5px;
}

.hor3 {
    height: 8vw;
    color: #2b2d42;
    background-color: #ef233c;
}

.scroll3 .text {
    font-size: 4vw;
    letter-spacing: 1rem;
    animation: 2s infinite linear rtl-stop;
    display: inline-block;
    padding-right: 5px;
}

.hor4 {
    height: 12vw;
    background-color: #edf2f4;
    color: #000;
}

.scroll4 li {
    display: inline-block;
}

.scroll4 a {
    text-decoration: none;
    color: #000;
}

.scroll4 li:before {
    content: '♦︎ ';
}

.scroll4 .text {
    font-size: 4vw;
    animation: 5s infinite linear xscroll;
    display: inline-block;
    padding-right: 5px;
}

.hor5 {
    height: 5vw;
    color: #ddb892;
    animation: 0.8s infinite linear blink-bg;
}

.scroll5 .text {
    font-size: 2vw;
    animation: 1s infinite linear yscroll;
    padding-right: 5px;
}

.hor6 {
    color: #e63946;
    background-color: #fcbf49;
}

.scroll6 .focus {
    display: inline-block;
    width: 21vw;
    color:#dc2f02;
    animation: 1.8s infinite ease-out bigger;
    font-size: 6vw;
}

.scroll6 .text {
    font-size: 4vw;
    animation: 3s infinite linear xscroll;
    display: inline-block;
    padding-right: 5px;
}

.hor7 {
    color: #faff93;
    background-color: #ffafcc;
}

.scroll7 .text {
    font-size: 4vw;
    animation: 5s infinite linear xscroll reverse;
    display: inline-block;
}

.scroll7 .text::after {
    content: '☺︎';
}

@keyframes xscroll {
    from { transform: translateX(0%);}
    to { transform: translateX(-100%);}
}

@keyframes xscroll-pull {
    0% { transform: translateX(0%);}
    50% { transform: translateX(-90%);}
    100% { transform: translateX(0%);}
}

@keyframes rtl-stop {
    0% { transform: translateX(-100%);}
    50% { transform: translateX(0%);}
    0% { transform: translateX(-100%);}
}

@keyframes yscroll {
    from { transform: translateY(0%);}
    to { transform: translateY(-100%);}
}

@keyframes blink-bg {
    0%, 49% { background-color: #e9edc9;}
    50%, 100% { background-color:#003d23}
}

@keyframes blink {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0;}
}

@keyframes bigger {
    from { font-size: .1vw ;}
    to { font-size: 6vw ;}
}