@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler-UltraLight.woff2') format('woff2'),
        url('~assets/fonts/Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler-Medium.woff2') format('woff2'),
        url('~assets/fonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler-Light.woff2') format('woff2'),
        url('~assets/fonts/Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler-Black.woff2') format('woff2'),
        url('~assets/fonts/Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler-Bold.woff2') format('woff2'),
        url('~assets/fonts/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler-ExtraBold.woff2') format('woff2'),
        url('~assets/fonts/Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('~assets/fonts/Butler.woff2') format('woff2'),
        url('~assets/fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood Text';
    src: url('~assets/fonts/FanwoodText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood Text';
    src: url('~assets/fonts/FanwoodText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --grey: #383838;
    --white: #F3F5F5;
    --gold: #DCCAA9;
    --yellow: #FFD074;
    --pink: #F6D2DE;
    --red: #B05C52;
    --green: #7CAD7C;
    --charcoal: #373633;
    --ivory: #F2F0E7;
    --candy: #FF2121;
}

html {
    font-family:
        'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: var(--ivory);
    color: var(--charcoal);
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Fanwood Text';
    font-style: normal;
}

a {
    color: var(--grey);
}

ul {
    list-style: none;
}